.bgCinza {
    background: #cccccc;
    border-bottom: 1px solid #cccccc;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 10px;
}

.inline-block div {
    display: inline-block;
}
#menu{
    margin-top: 1px;
    background: #ffffff;    
}


#menu ul li{
    display: inline-block;
}

#menu ul li a{
    display: block;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2px;
    padding: 2px 60px;
    text-decoration: none;
}

#menu ul li a:hover{
    color: red;
}
#menu {
background-size: cover;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
}

.col-meio{
    margin-top: 5px;
    display: block;
    color: #333;
    font-size: 1rem;
    padding: 0px 700px;
}

.icones a i{
    padding: 5px;
    color: black;  
    font-size: 1rem;
    
}

.icones :hover{
    text-decoration: none;
    color : red;
}

.buscar{
    font-size: 1rem;
}

.bct{
    background: #868585;
}

.buscar{
    position: relative;
    width: 25%;
    width: 100%;
    padding: 5px 4px 5px 40px;
    border: none;
    border-radius: 3px;
    color: black;
    font-size: 1rem;
    bottom: 80px;
    left: 745px;
}

.buscar button{
    padding: 4px;

}

#rodape{
    background: rgb(34, 33, 33);
}
#rodape a{
    color: #ffffff;
    text-decoration: none;
}

#rodape a:hover{
    color: red;
}

.log{
    padding: 10px 250px
}

.tt{
    color: #ffffff;
    text-align: center;
    padding: 10px 250px;
}

